:root {
    --accents: #FFDC00;
  }

  body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;;
    background-size: 110%;
    background-position: center;
  }

  .mainbg {
    width: 50vh;
    height: 50vh;
    background-color: black;
    opacity: 0.8;
    border-radius: 0px 50px 0px;
    position: relative;
    z-index: -100;
    position: absolute; 
    top: 0px; 
    left: 0px;
  }
  .mainborder {
    width: 50vh;
    height: 50vh;
    border-color: var(--accents);
    border-width: 3px;
    border-style: solid;
    border-radius: 0px 50px 0px;
    opacity: 0.7;
    position: absolute; 
    top: 0px; 
    left: 0px;
  }

  #maincontent {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    align-items: center;
    color: var(--accents);
  }

  .button {
    width: 40vh;
    height: 6vh;
    border-color: var(--accents);
    border-width: 2px;
    border-style: solid;
    z-index: 1;
    font-family: monospace;
    font-size: 5vh;
    text-align: center;
    color: var(--accents);
    opacity: 0.6;
    background-color: black;
    margin: 1vh;
    text-decoration: none;   
  }

  .button:hover {
    background-color: var(--accents);
    color: black;
  }

  .search {
    width: 40vh;
    height: 6vh;
    border-color: var(--accents);
    border-width: 2px;
    border-style: solid;
    z-index: 1;
    font-family: monospace;
    font-size: 5vh;
    text-align: center;
    color: var(--accents);
    opacity: 0.6;
    background-color: black;
    margin: 1vh;
  }

  .branding {
    margin: 1vh;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    color: var(--accents);
    z-index: 5;
    opacity: 0.8;
  }

  .logo {
    height: 8vh;
    width: 8vh;
    filter: invert(91%) sepia(18%) saturate(5244%) hue-rotate(358deg) brightness(102%) contrast(103%);
    /*https://codepen.io/sosuke/pen/Pjoqqp to get the css hue conversion above*/
  }
  
  

  .brandingtext {
    font-family: monospace;
    font-size: 4vh;
    margin-top: 2vh;
    width: 40vh;
  }

  #landing-content {
    overflow: hidden;
    background-image: url(media/bg.jpg);
    width: 100%;
    height: 100%;
    background-size: 110%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -50;
    top: 0;
    left: 0;
  }

  #asteroids {
    overflow: hidden;
    background-image: url(media/asteroids.png);
    width: 100%;
    height: 100%;
    background-size: 110%;
    background-position: center;
    background-repeat: repeat-x;
    z-index: -40;
    position: absolute;
    top: 0;
    left: 0;
  }

  .scanlines {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background-image: url(media/scanline.png);
    background-position: center;
    background-repeat: repeat;
    z-index: 100;
    overflow: hidden;
    pointer-events: none;
    opacity: 0.6;
  }